{
  "FILE_VERSION":"1.0",
  "ID":"Unit",
  "NAME":"Unit tests for ctrl code",
  "SUB_PROJS": [
    "sub_unit"
  ],
  "WAIT_FOR_MANAGER":"ProjEnvProjectState::DbUpdate",
  "TEST_MANAGERS":[
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestArc.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestCascadeButton.ctl -user root:" },
#    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestCheckBox.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestClock.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestComboBox.ctl -user root:" },
#    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestDpTree.ctl -user root:" },
#    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestDpType.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestEllipse.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestEmbeddedModule.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestFrame.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestGeneric.ctl -user root:" },
#    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestLabel.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestLcd.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestLine.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestPipe.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestPolygon.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestPrimitiveText.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestProgressBar.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestPushButton.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestRadioBox.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestRectangle.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestSelectionList.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestShape.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestSlider.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestSpinButton.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestTab.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestTable.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestTextEdit.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestTextField.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestThumbWheel.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestTree.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestTrend.ctl -user root:" },
    { "TEST_MAX_DURATION" : 15, "MANAGER_TYPE" : "UI", "MANAGER_OPTIONS":"-p about.pnl -s tests/libs/classes/splash/shapes/GuiTestZoomNavigator.ctl -user root:" }
  ]
}