{
  "TEST_RUNS":{
    "Regression-tests":{
      "DESCRIPTION":"All regression tests",
      "NAME":"Regression tests",
      "TEST_RUNS":[
        "unit"
        # not implmented now
#        "backend",
#        "frontend"
      ]
    },
    "unit":{
      "DESCRIPTION":"Unit tests",
      "NAME":"Unit tests",
      "TEST_SUITE":{
        "CONFIG":"testSuite.config",
        "ID":"suite_unit"
      }
    },
    "backend":{
      "DESCRIPTION":"Backend tests",
      "NAME":"Backend tests",
      "TEST_SUITE":{
        "CONFIG":"testSuite.config",
        "ID":"suite_backend"
      }
    },
    "frontend":{
      "DESCRIPTION":"Frontend tests",
      "NAME":"Frontend tests",
      "TEST_SUITE":{
        "CONFIG":"testSuite.config",
        "ID":"suite_frontend"
      }
    }
  }
}